<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top">


  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
  
      <li class="nav-item active p-2">
         <%= link_to "List Minions" , home_path %> 
      </li>
      <li class="nav-item p-2">
         <%= link_to "Create Minions" , new_post_path %>
      </li>
     
    </ul>
  </div>
</nav>

<%= yield %>
  
  </body>
</html>
