<h1> Edit Minion</h1>
  
<%= form_for :post, url: post_path(@post), method: :patch do |form| %>
 
  
    <p>
      <%= form.label :name %>
      <%= form.text_field :name %><br>


      <%= form.label :colour %>
      <%= form.text_field :colour %><br>

      <%= form.label :height %>
      <%= form.text_field :height %><br>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>