<h1> Blog Posts</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Colour</th>
                <th>Height</th>
                <th>Delete</th>
                <th>Update</th>
                
                
            </tr>
        </thead>
      
        <tbody>
        <%= @posts.each do |post| %>
            <tr>
                <td><%=post.name %></td>
                <td> <%=post.colour %></td>
                <td><%=post.height %> </td>
                <td> <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td><%= link_to "Edit", edit_post_path(post) %></td>
                
            </tr>
        <% end %>
         
     
        </tbody>
      </table>
    </div>
    
    
