<h1> Add Post</h1>
  
<%= form_with scope: :post, local: true, url: posts_path do |form| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_message.each do |msg| %> 
      <div class="alert alert-danger"> <%= msg %>  </div>
    <% end %>
  <% end %>
  
    <p>
      <%= form.label :name %>
      <%= form.text_field :name %><br>


      <%= form.label :colour %>
      <%= form.text_field :colour %><br>

      <%= form.label :height %>
      <%= form.text_field :height %><br>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>