
  <h1>Post Show</h1>
  <div style=" height=30px ; ">
    <p>
        <strong>Name </strong>
        <%= @post.name %>
        <br>

        <strong>Colour </strong>
        <%= @post.colour %>
        <br>

        <strong> Height</strong>
        <%= @post.height %>
        <br>

        
    </p>
</div>